$input-height: 3rem;

$clr-dark: #000;
$clr-light: #fff;

$clr-accent-blue: #021B79;
$clr-accent-blue-400: #0575E6;


//#192440;
$clr-accent-dark: $clr-accent-blue;
$clr-accent-dark-400: $clr-accent-blue-400;

//#00FFAD;
$clr-accent: #00FFAD;