<section class='benefits'>
    <div class='benefits__container'>
        <div class='benefits__headerTitle'>
            <h2 class='section-title'>Наші переваги</h2>
        </div>
        <div class='benefits__items'>
            <div class='benefits__item'>
                <div class='benefits__icon'>
                    <img src='./img/icons/certificate.png' alt='benefits success icon'>
                </div>
                <h5 class='benefits__title'>Упаковка</h5>
                <p class='benefits__description'>
                    Сімʼя упаковується в з термоізоляційну упаковку.<br />
                    Найвища активність сімʼя на ринку!
                </p>
            </div>

            <div class='benefits__item'>
                <div class='benefits__icon'>
                    <img src='./img/icons/certificate.png' alt='benefits success icon'>
                </div>
                <h5 class='benefits__title'>Здоров'я</h5>
                <p class='benefits__description'>
                    Господарство благополучне, щодо гостроінфекційних хвороб свиней та птиці.
                </p>
            </div>

            <div class='benefits__item'>
                <div class='benefits__icon'>
                    <img src='./img/icons/certificate.png' alt='benefits success icon'>
                </div>
                <h5 class='benefits__title'>Розчинники</h5>
                <p class='benefits__description'>
                    Використовуються найкращі довготривалі розчинники сімʼя, <br /> всі процеси і якість спермопродукції контролюється.                </p>
            </div>

        </div>
    </div>
</section>