<section class='buy-conditions'>
    <div class='container'>
        <h4 class='buy-conditions__title'>Ви можете розрахуватись як зручно</h4>
        <p class='buy-conditions__footer-text'>
            Можлива доставка в будь-який регіон України.
        </p>
        <div class='buy-conditions__items'>
            <div class='buy-conditions__item'>
                <img src='./img/icons/cash-in-hand.png' alt='cash icon'>
                <span>Готівка</span>
            </div>
            <div class='buy-conditions__item'>
                <img src='./img/icons/card-payment.png' alt='cash icon'>
                <span>Картка</span>
            </div>
            <div class='buy-conditions__item'>
                <img src='./img/icons/money-box.png' alt='cash icon'>
                <span>Грошовий Переказ</span>
            </div>
        </div>
    </div>
</section>