<footer class='footer'>
    <div class='container'>
        <div class='footer__content'>
            <section class='footer__contacts'>
                <h5 class='footer__title'>Зв'яжіться з нами</h5>
                <p>Якщо у Вас виникли питання, ми вам допоможемо. <br />Також можете заповнити форму і ми з вами звяжемось.</p>
                <address class='footer__info'>
                    <p>Email: <a href="mailto:#">mail@mail.com</a></p>
                    <p>Телефон: <span class='footer__info-tel'>050-151-15-15</span></p>
                    <p>Адресса: Місто, вулиця 45</p>
                </address>
            </section>
            @@include('./footer_form.html')
        </div>
    </div>
    <div class='footer__copyright'>
        <p>created by <span><a href='https://batalshikov.com' target='_blank'>Dima Batalshikov</a></span></p>
    </div>
</footer>