<section class='gallery'>
    <div class='container'>
        <div class="gallery__container">
            <a href="img/Landras.jpg" title='Ландрас'>
                <img src="img/Landras.jpg" alt="image" class="preview" data-breed='Ландрас'/>
            </a>
            <a href="img/great_white.jpg" title='Велика біла'>
                <img src="img/great_white.jpg" alt="image" class="preview" data-breed='Велика біла'/>
            </a>
            <a href="img/petren.jpg" class='' title='Пєтрен'>
                <img src="img/petren.jpg" alt="image" class="preview" data-breed='Пєтрен'/>
            </a>
            <a href="img/durok.jpg" class='' title='Дюрок'>
                <img src="img/durok.jpg" alt="image" class="preview" data-breed='Дюрок'/>
            </a>
            <a href="img/makster.jpg" class='' title='Макстер'>
                <img src="img/makster.jpg" alt="image" class="preview" data-breed='Макстер'/>
            </a>
            <a href="img/temvors.jpg" class='' title='Темворс'>
                <img src="img/temvors.jpg" alt="image" class="preview" data-breed='Темворс'/>
            </a>
        </div>
    </div>
</section>
