<header class="header">
    <div class='container'>
        <div class='header__content'>
            <div class='header__content-textBox'>
                <h1 class='header__title'>Високоякісне сімʼя кнурів</h1>
                <span class='header__text'>
                    Високоякісні дози сім’я кнурів порід: П`єтрен, Кантор,Макстер 304, та інші.
                    Можлива <span class='header__text-accent'>доставка</span> сімямодоз в будь-який регіон України.
                </span>
                <span class='header__text'>
                    Залиште свої данні через форму і ми будемо раді зв'язатись з вами найближчим часом.
                </span>
            </div>
            <div class='header__content-formBox'>
                @@include('./form.html')
            </div>
        </div>
    </div>
</header>