<section class='pricing'>
    <div class='container'>
        <h3 class='section-title'>Наша пропозиція</h3>
        <div class='pricing-cards'>
            <div class='pricing-card'>
                <div  class='pricing-card__header'>
                    <h4 class='pricing-card__title'>1x порція</h4>
                    <p>Високоякісні дози сім’я кнурів.</p>
                </div>
                <div class='pricing-card__price'>
                    100$
                </div>
                <ul class='pricing-card__features'>
                   <li>Висока якість</li>
                   <li>Надійна упаковка</li>
                   <li>Швидка доставка</li>
                </ul>
                <div class="pricing-card__btn-wrapper">
                    <button class='pricing-card__button btn btn-clr-accent' data-type='1'>Замовити</button>
                </div>
            </div>
            <div class='pricing-card'>
                <div  class='pricing-card__header'>
                    <h4 class='pricing-card__title'>2x порції</h4>
                    <p>Високоякісні дози сім’я кнурів.</p>
                </div>
                <div class='pricing-card__price'>
                    190$
                </div>
                <ul class='pricing-card__features'>
                    <li>Висока якість</li>
                    <li>Надійна упаковка</li>
                    <li>Швидка доставка</li>
                </ul>
                <div class="pricing-card__btn-wrapper">
                    <button class='pricing-card__button btn btn-clr-accent' data-type='2'>Замовити</button>
                </div>
            </div>
        </div>
    </div>
</section>
