<section class='testimonial'>
    <div class='container'>
        <h3 class='testimonial__title section-title'>Що про нас говорять</h3>
        <div class='testimonial__container'>
            <div class='testimonial-card'>
                <div class='testimonial-card__icon'></div>
                <div class='testimonial-card__text'>
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Alias aliquid at distinctio, earum facilis fugiat illum ipsum maxime neque officia possimus quidem, repellat soluta temporibus!"
                    </p>
                </div>
                <div class='testimonial-card__person'>
                    <div class='testimonial-card__person-photo'>
                        <img src='img/icons/placeholder_avatar.png' alt='avatar picture'>
                    </div>
                    <div class='testimonial-card__person-data'>
                        <p>James Doe</p>
                        <p>CO-Founder, Startuo Week</p>
                    </div>
                </div>
            </div>
            <div class='testimonial-card'>
                <div class='testimonial-card__icon'></div>
                <div class='testimonial-card__text'>
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Alias aliquid at distinctio, earum facilis fugiat illum ipsum maxime neque officia possimus quidem, repellat soluta temporibus!"
                    </p>
                </div>
                <div class='testimonial-card__person'>
                    <div class='testimonial-card__person-photo'>
                        <img src='img/icons/placeholder_avatar.png' alt='avatar picture'>
                    </div>
                    <div class='testimonial-card__person-data'>
                        <p>James Doe</p>
                        <p>CO-Founder, Startuo Week</p>
                    </div>
                </div>
            </div>
            <div class='testimonial-card'>
                <div class='testimonial-card__icon'></div>
                <div class='testimonial-card__text'>
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Alias aliquid at distinctio, earum facilis fugiat illum ipsum maxime neque officia possimus quidem, repellat soluta temporibus!"
                    </p>
                </div>
                <div class='testimonial-card__person'>
                    <div class='testimonial-card__person-photo'>
                        <img src='img/icons/placeholder_avatar.png' alt='avatar picture'>
                    </div>
                    <div class='testimonial-card__person-data'>
                        <p>James Doe</p>
                        <p>CO-Founder, Startuo Week</p>
                    </div>
                </div>
            </div>
            <div class='testimonial-card' data-md='false'>
                <div class='testimonial-card__icon'></div>
                <div class='testimonial-card__text'>
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Alias aliquid at distinctio, earum facilis fugiat illum ipsum maxime neque officia possimus quidem, repellat soluta temporibus!"
                    </p>
                </div>
                <div class='testimonial-card__person'>
                    <div class='testimonial-card__person-photo'>
                        <img src='img/icons/placeholder_avatar.png' alt='avatar picture'>
                    </div>
                    <div class='testimonial-card__person-data'>
                        <p>James Doe</p>
                        <p>CO-Founder, Startuo Week</p>
                    </div>
                </div>
            </div>
            <div class='testimonial-card' data-md='false'>
                <div class='testimonial-card__icon'></div>
                <div class='testimonial-card__text'>
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Alias aliquid at distinctio, earum facilis fugiat illum ipsum maxime neque officia possimus quidem, repellat soluta temporibus!"
                    </p>
                </div>
                <div class='testimonial-card__person'>
                    <div class='testimonial-card__person-photo'>
                        <img src='img/icons/placeholder_avatar.png' alt='avatar picture'>
                    </div>
                    <div class='testimonial-card__person-data'>
                        <p>James Doe</p>
                        <p>CO-Founder, Startuo Week</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
